{{!< default}}
<div id="root">
  <!-- scrollTo header -->
  <a id="header"></a>
  <a id="home"></a>
  <div class="nav">
    <div class="name">
      <h1>
        <a href="#home">
          <b>Douglas</b>Casserleigh
        </a>
      </h1>
    </div>
    <ul class="navbar-links">
      <li class="contact"><a href="#contact">Contact</a></li>
      <li class="projects"><a href="#projects">Projects</a></li>
      <li class="about"><a href="#about">About</a></li>
    </ul>
    <div class="hamburger">
      <i class="hamburger-icon fa fa-bars fa-5x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="navbar-collapse">
    <ul class="navbar-list">
      <!-- <li><br></li> -->
      <li><a href="#about">About</a></li>
      <!-- <li><br></li> -->
      <li><a href="#projects">Projects</a></li>
      <!-- <li><br></li> -->
      <li><a href="#contact">Contact</a></li>
      <li><br></li>
    </ul>
  </div>  
  <div class="container-head">
    <div class="head-text-box-left">
      <h1 class="head-text">
        <b>web developer</b>
      </h1>
    </div>
    
    
    <!-- <video class="video-head" loop
    autoplay >
      <source src="/video/White_Soft_Backgrounds_Loopable.mp4" type="video/mp4"/>
    </video> -->
    
    <div class="splody-flex">
      <div class="splody-relative">
        <img class="splody-image" src="http://4.bp.blogspot.com/-faGB2fRiLdc/UWawod_gsLI/AAAAAAAAAF0/Wif1p84_Kjg/s1600/splody1_0001.png"/>

      </div>
    </div>  
  </div>
  <div class="resource-links">
    <a href="https://github.com/dougcass">
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
    <a href="http://codepen.io/washburn119/">
      <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/dougcasserleigh">
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </a>
    </div>
  </div>
  
  <a id="about"></a>
  <div class="container-summary">

    <div class="container-summary-title">
      <p class="summary-title-text">
        hello
      </p>
    </div>
    <div class="container-summary-body">
      <p class="summary-body">
        My name is Douglas Casserleigh and I am a Web Developer.  I am a graduate of DaVinci Coders intensive MicroDegree program based in Ruby on Rails, Javascript, and industry related development technologies.  I am searching for any opportunity within a development team to expand my knowledge of the development process and strengthen my technical skillset.  I respect agile development principles, embrace git version control, and truly enjoy team-oriented development.  
      </p>
    </div>
    <div class="tech-icon-box">
      <img class="tech-icon html5" src="/images/html5.svg"/>
      <img class="tech-icon css3" src="/images/css3.svg"/>
      <img class="tech-icon git" src="/images/git.svg"/>
      <img class="tech-icon js" src="/images/javascript.svg"/>
      <img class="tech-icon bootstrap" src="/images/bootstrap.svg"/>
      
    </div>
    <div class="skillset-box">
      <h2 class="skillset-header-text">Technologies</h2>
      <p></p>
      <p class="skillset-text">
          Ruby on Rails--JavaScript--HTML5--CSS3--Bootstrap<br>Git Workflow--CSS Animation--Agile Development<br>Test Driven Development--Chrome Dev Tools<br>Command Line Interface     
      </p>
    </div>
  </div>
  <a id="projects"></a>
  <div class="container-resources">
  
    <div class="resources-flex pair-up">
      
      <div class="resource-box-logo">
        <img class="pair-up-logo" src="/images/pair_up.png"/>
      </div>
      <div class="resource-box pair-up">
        <p></p>
        <h2 class="resource-header-text">
          <a href= "https://pair-up-project.herokuapp.com/">Pair-Up Project
          </a>
        </h2>
        <p></p>
        <p>
          A Ruby on Rails scheduling application designed for students to
          find co-working opportunites based on matching availability. Currently undergoing a few repairs!!<!-- <br>In order to explore please login using the following credentials:
          Username: guest<br>
          Password: justlooking<br>
          Email: guest@pair-up.gmail -->
        </p>
      </div>
    </div>
    <div class="resources-flex abstract">
      <div class="resource-box-logo abstract">
        <img class="abstract-logo" src="http://imgview.info/download/20150818/digital-art-cinema-4d-abstract-cgi-4096x3112.png"/>
      </div>
      <div class="resource-box abstract">
        <p></p>
        <h2 class="resource-header-text">
          <a href= "https://abstractplayground.herokuapp.com/">Abstract Playground
          </a>
        </h2>
        <p></p>
        <p>
          My personal playground for experimenting
          with front end technologies. This site is where I have fun utilizing abstract design elements, css animations, and jquery event handlers to create an interactive infographic template. A constant work in progress, this is where I like to play around with new design ideas.  Simply fun time!
        
        </p>
      </div>
    </div>    
  </div>
  <a id="contact"></a>
  <div class="container-contact">
    <div class="contact-info-box">
      <p></p>
        <h2 class="contact-header-text">
          contact
        </h2>
        <p></p>
        <p></p>
        <!-- <p></p> -->
        <!-- <p></p> -->
        <p>
          phone: 504.250.2832<br>
        </p>
        <p>
          <a class="email-link" href="mailto:casserleighd@gmail.com" target="_top">email: casserleighd@gmail.com</a>
        </p>
        <p>I look forward to hearing from you!
    </div>
    <div class="contact-abstract-box">
      <div class="abstract-box-relative">
        <img class="contact-abstract-image" src="http://imgview.info/download/20150818/digital-art-cinema-4d-abstract-cgi-4096x3112.png"/>
      </div>
    </div>
    <div class="credits-box">
      <h3>
        website created from scratch 2017
      </h3>  
    </div>
  </div>
  
  